<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link rel ="stylesheet" type = "text/css"; href = "/style.css"/>
  </head>

  <body>
  
  <nav>
      <a href = "/welcome">Welcome</a>
      <a href = "/who_wins/:player">Play</a>
  </nav>

  <%= yield %>


<!--   <p><img src = "https://www.walldevil.com/wallpapers/w02/771994-blue-background-funny-minimalistic-paper-rocks-scissors.jpg" width=70%, alignment = center /></p> -->




  </body>
</html>