
<h1> Rock Paper Scissors </h1>

<h3> Hi! Wanna play rock, paper, scissors? </h3>

<ul>
<li> Start playing by clicking on the 'Play' link above and typing your player choices in the url bar. Whooop!</li>


<li>For example: http://localhost:4567/who_wins/rock/paper</li>
</ul>

